.radio {
    position: relative;
    height: 24px;
    width: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.radio::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 3px solid black;
}


.radio:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
    visibility: visible;

}

.label {
    cursor: pointer;
    display: flex;
    column-gap: 11px;
}

.options {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}
