.App {
    --header_height: 60px;
    width: 1280px;
    margin: 0 auto;
    padding: 0 70px;
}

.hw {
    margin-bottom: 50px;
}

.hwTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 34px;
}