.friendMessage {
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
}

.friendImageAndText {
    display: flex;
    gap: 20px;
}

.friendImageAndText img {
    height: 48px;
    align-self: end;
}

.friendText {
    color: black;
    border-radius: 10px 10px 10px 0;

    padding: 8px 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    background-color: #F5F7FB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);

}

.friendText:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    display: block;
    width: 30px;
    height: 30px;
    background: radial-gradient(67px at top left, transparent 50%, #F5F7FB 51%) right bottom;
}

.friendName {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.friendMessageText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.friendTime {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    margin: 5px 0 0 10px;
}
