.select {
    font-size: 14px;
    font-weight: 400;
    width: 180px;
    height: 24px;
    border: 1px solid #C2C2C2;
    padding: 0 10px;
}

.select:focus {
    color: #A9A9A9;
}

.option {
    border: 1px solid black;
    color: black;
}

.option:hover {
    border: solid ;
}
